#interested {
  display: none;
}

#notinterested {
  display: none;
}

.head{
  text-align: center;
}

.blurb{
  text-align: center;
}
.codename, .codenametitle{
  text-align: center;
}

.java-hidden{
  display: none;
}

.c-hidden{
  display: none;
}

.ruby-hidden{
  display: none;
}
#java{


}

#c{

}

#ror{

}